bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/ProjectEvaluation/modbusextendedtools.strings.v10.bin
.vs/ProjectEvaluation/modbusextendedtools.projects.v10.bin
.vs/ProjectEvaluation/modbusextendedtools.metadata.v10.bin
.vs/ModbusExtendedTools/CopilotIndices/18.10.1181.45497/SemanticSymbols.db
.vs/ModbusExtendedTools.slnx/v18/DocumentLayout.json
.vs/ModbusExtendedTools.slnx/v18/DocumentLayout.backup.json
.vs/ModbusExtendedTools.slnx/v18/.suo
.vs/ModbusExtendedTools.slnx/v18/.futdcache.v2
.vs/ModbusExtendedTools.slnx/FileContentIndex/9be1468c-0786-49f3-b968-f61b58af80cf.vsidx
.vs/ModbusExtendedTools.slnx/DesignTimeBuild/.dtbcache.v2
.vs/ModbusExtendedTools.slnx/copilot-chat/9c9f7021/sessions/79182593-5823-442b-be43-e3003292940b
ModbusExtendedTools.sln.DotSettings.user
